<tr>
	<td class="no"><%= record_counter+1 %></td>
	<td class="unit"><%= record.order.to_s %></td>
	<td class="unit"><%= record.item.to_s %></td>
	<td class="number"><%= record.number.to_s %></td>
	<td class="name"><%= record.name.to_s %></td>
	<td class="address"><%= record.money.to_s %></td>
	<td class="balance"><%= record.balance.to_s %></td>
	<td class="deleted"><%= record.created_at.strftime('%m-%d %H:%M') %></td>
</tr>